html {
  height: 100%;
  margin: 0;
  
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
  background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 0;
  font-size: 5em;
}

* {
  box-sizing: border-box;
}

.base {
  background-image: linear-gradient( 135deg, #F05F57 10%, #360940 100%);
}